:root{
    --color1:red;
    --color2:#22272c;
    --color3:rgb(6, 45, 90);
    --color4:rgb(63, 182, 152);
    --color5:rgb(63, 158, 196);
    --margin-right: 650px;
}
*{
    background-color: var(--color2);
}

a:link{
    color: slateblue;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    cursor: pointer;
    color: red;
}

.navbar{
    font-size: 19px;
    display: inline;
    display: flex;
    justify-content: end;
}
header h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: aqua;
    color: var(--color2);
    display: inline;
    font-size: 40px;
    margin-top: 50px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}
main h2{
    display: flex;
    flex: 1 1 400px;
    font-size: 40px;
    color: var(--color5);
}
section h2{
    display: flex;
    flex: wrap;
    flex: 1 1 auto;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
section h3{
    display: flex;
    flex: wrap;
    flex: 1 1 auto;
    justify-content: center;
    text-align: center;
    color: var(--color5);
    margin-top: 10px;
}
#aboutme{
    color: seagreen;
}
#contactme{
    color: teal;
}
img{
    display: flex;
    display: inline;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1 1 auto;
    width: 100%;
    height: 500px;
    border: 1px solid var(--color4);
    border-radius: 4px;
}
